body {
    font-family: Arial, sans-serif;
    background-color: #c7c1c1;
}
header {
    background-color: #333;
    color: white;
    padding: 10px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
nav ul li a {
    text-decoration: none;
    color: white;
}


#meios{
    background-color: #5f5b5b;
    text-align: center;
}

#contato{
    width: 50%;
}
.flexdiv{
    display: flex;
    
}

.imagens{
    width: 49%;
}
.icon{
    display: inline-block;
    width:20%;
}
#icons{
    display: inline-block;
    text-align: center;
}

#info{
    padding: 1%;
    border: #333 solid 1px;
    box-shadow: #333;
    text-align: center;
}